
<div class="row">
  <div class="heading-map">
    <h1>Join an event: meet people, share, learn</h1>
    <h3>Next events on the world</h3>
    <ng-map class="map" center="[32, -20]" zoom="3" aria-hidden="true">
      <marker ng-repeat="event in events" 
        position="{{ event.location }}"
        animation="DROP"
        draggable="false"
        title="{{ event.title }}"> 
      </marker>
    </ng-map>
  </div>
</div>
<hr>
<div class="row">
  <h3 class="col-xs-12">List of events, sorted by date</h3>  
</div>
<div class="row">
  <div class="col-sm-6" ng-repeat="event in events">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="dates-container">
          <span class="date-start bg-success">{{ event.start_date | date: 'dd MMM' }} -</span><span class="date-end bg-danger">- {{ event.end_date | date: 'dd MMM' }}</span> 
        </div>
        <strong>{{ event.title }}</strong>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2">
            <div class="event-icon">
              <span aria-hidden="true" 
                    class="glyphicon {{ eventIcon(event) }}"> 
              </span>
            </div>
          </div>
          <div class="col-xs-10">
            <h4>
              Host: {{ event.host }}
              <br>
              <small>Created: {{ event.created_at | date : 'medium' }}</small>
            </h4>
            <button ng-click="toggleMap(event)" class="btn btn-xs btn-info btn-map">Location: {{ event.location }}</button>
            <hr>
            <div ng-if="event._showMap" aria-hidden="true">
                <ng-map center="{{ event.location }}" zoom="13">
                  <marker position="{{ event.location }}"
                    animation="DROP"
                    draggable="false"
                    title="{{ event.title }}"> 
                  </marker>
                </ng-map>
                <hr>
            </div>
            <p>{{ event.description }}</p>
            <p>Guests List: {{ event.guests }}</p>
          </div>
        </div>
      </div>
      <div class="panel-footer align-right" ng-show="userHasCreated(event, firebaseUser)">
        You created this event
        <a ng-show="userHasCreated(event, firebaseUser)"
           class="btn btn-default btn-sm pull-right"
           href="#!/edit/{{ event.$id }}">
          Edit
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>