<div class="row">
  <h2 class="col-xs-12">Sign up</h2>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">Sign up form</div>
      <div class="panel-body">
        <h3>Just the bare minimun info to get your account</h3>
        <form name="form" class="form">
          <div class="form-group" ng-class="{'has-error': form.$submited && !form.name.$valid}">
            <label for="username">Full name
            </label>
            <input  type="text" 
                    class="form-control" 
                    placeholder="your name" 
                    name="name"
                    ng-model="name"
                    required
                    autocomplete="name">
            <span class="help-block" ng-show="form.$submited && !form.name.$valid">
              We need a name to put it in the events, hint: If you don't want to use your Real Name you can use a nickname.  
            </span>
          </div>
          <div class="form-group" ng-class="{'has-error': form.email.$dirty && !form.email.$valid}">
            <label for="email">
              E-mail
            </label>
            <input type="email" 
                   class="form-control"
                   placeholder="email@sample.com"
                   name="email"
                   ng-model="email"
                   required
                   autocomplete="email">
            <span class="help-block" ng-show="form.email.$dirty && !form.email.$valid">
              This is not a valid email format, sample email: sample.email@domain.com (It doesn't need to exists, this is just an exercise) 
            </span>
          </div>
          <div class="form-group" 
               ng-class="{'has-error': form.password.$dirty && !form.password.$valid }">
            <label for="password">
              Password
            </label>
            <input type="password" 
                   class="form-control"
                   placeholder="********"
                   name="password"
                   ng-model="password"
                   password>
              <span class="help-block" ng-show="form.password.$dirty && form.password.$error" ng-repeat="message in passwordErrorMessages">
              {{ message }}
              </span>
          </div>
          <h3>Tell the community a bit more about you</h3>
          <div class="form-group" ng-class="{'has-warning': form.bio.$dirty && form.bio.$viewValue.length == 300 }">
            <label for="bio">
              Bio (optional)
            </label>
            <textarea name="bio"
                      class="form-control"
                      placeholder="You can write about your day job, company, and anything you consider relevant."
                      ng-model="bio"
                      maxlength="300">
            </textarea>
            <span class="help-block" ng-show="form.bio.$dirty && form.bio.$viewValue.length == 300">
              Maximum length 300 characters, do you think it is short? Try twitter :P  
            </span>
          </div>
          <div class="form-group">
            <button id="loginSubmit" class="btn btn-primary" ng-click="submitHandler()">Submit</button>
          </div>
        </form>
      </div>
    </div> 
  </div>
</div>