<div class="row">
  <h2 class="col-sm-6 col-sm-offset-3">
    Sign up {{ id }}!!
  </h2>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Sign up form</div>
      <div class="panel-body">
        <h3>Just the bare minimun info to get your account</h3>
        <form name="form" class="form" novalidate>
          <div class="form-group" ng-class="{'has-error': form.$submitted && !form.name.$valid}">
            <label for="username">Full name
            </label>
            <input  type="text" 
                    class="form-control" 
                    placeholder="your name" 
                    name="name"
                    ng-model="user.name"
                    required
                    autocomplete="name">
            <span class="help-block" ng-show="form.$submitted && !form.name.$valid">
              We need a name for your profile. If you don't want to use your Real Name you can use a nickname.  
            </span>
          </div>
          <div class="form-group" ng-class="{'has-error': form.$submitted && !form.email.$valid}">
            <label for="email">
              E-mail
            </label>
            <input type="email" 
                   class="form-control"
                   placeholder="email@sample.com"
                   name="email"
                   ng-model="user.email"
                   required
                   autocomplete="email">
            <span class="help-block" ng-show="form.$submitted && !form.email.$valid">
              This is not a valid email format, sample email: sample.email@domain.com (It doesn't need to exists, this is just an exercise) 
            </span>
          </div>
          <div class="form-group" 
               ng-class="{'has-error': form.$submitted && !form.password.$valid }">
            <label for="password">
              Password
            </label>
            <input type="password" 
                   class="form-control"
                   placeholder="********"
                   name="password"
                   ng-model="user.password"
                   password>
            <span class="help-block" ng-show="form.$submitted && form.password.$error" ng-repeat="message in passwordErrorMessages">
              {{ message }}
            </span>
          </div>
          <h3>Tell everyone a bit more about you</h3>
          <div class="form-group" ng-class="{'has-warning': form.bio.$dirty && form.bio.$viewValue.length == 300 }">
            <label for="bio">
              Bio (optional)
            </label>
            <textarea name="bio"
                      class="form-control"
                      placeholder="You can write about your day job, company, and anything you consider relevant."
                      ng-model="user.bio"
                      maxlength="300">
            </textarea>
            <span class="help-block" ng-show="form.bio.$dirty && form.bio.$viewValue.length == 300">
              Maximum length 300 characters, do you think it is short? Try Twitter :P  
            </span>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" ng-click="submitHandler(form)" value="Submit">
          </div>
          <p class="alert alert-danger" ng-if="authError">{{ authError }}</p>
        </form>
      </div>
    </div> 
  </div>
</div>