<div class="row">
  <h2 class="col-xs-12">Login to join and create events</h2>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <form class="form" action="">
          <div class="form-group">
            <label for="username">Username
            </label>
            <input  type="text" 
                    class="form-control" 
                    placeholder="your username" 
                    id="username"
                    ng-model="username"
                    required>
          </div>
          <div class="form-group">
            <label for="password">
              Password
            </label>
            <input type="password" 
                   class="form-control"
                   placeholder="********"
                   id="password"
                   ng-model="password"
                   required>
          </div>
          <div class="form-group">
            <button id="loginSubmit" class="btn btn-primary" ng-click="submitHandler()">Submit</button>
          </div>
        </form>
      </div>
    </div> 
  </div>
</div>